<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>packagecloud.releases</id>
            <password>06422f27257c0a07b01944e9ef9836aafda87d28c99b84b8</password>
        </server>
        <server>
            <id>packagecloud.snapshots</id>
            <password>06422f27257c0a07b01944e9ef9836aafda87d28c99b84b8</password>
        </server>
        <server>
            <id>github</id>
            <username>YUGESH-AE</username>
            <password>Yugesh@2099</password>
        </server>
    </servers>
</settings>