<settings>
    <servers>
        <server>
            <id>packagecloud.releases</id>
            <password>${env.RELEASE}</password>
        </server>
        <server>
            <id>packagecloud.snapshots</id>
            <password>${env.SNAPSHORT}</password>
        </server>
        <server>
            <id>github</id>
            <username>YUGESH-AE</username>
            <password>${env.GIT_PASS}</password>
        </server>
    </servers>
</settings>