<settings>
    <servers>
        <server>
            <id>packagecloud.releases</id>
            <password>${env.PCLOUD}</password>
        </server>
        <server>
            <id>packagecloud.snapshots</id>
            <password>${env.PCLOUD}</password>
        </server>
        <server>
            <id>github</id>
            <username>YUGESH-AE</username>
            <password>${env.PASSWORD}</password>
        </server>
    </servers>
</settings>